name: Slash Command Dispatch
on:
  issue_comment:
    types: [created]
jobs:
  slashCommandDispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Slash Command Dispatch
        uses: peter-evans/slash-command-dispatch@v2.3.0
        with:
          token: ${{ secrets.PAT_TOKEN }}
          reaction-token: ${{ secrets.GITHUB_TOKEN }}
          commands: run-tests
          issue-type: pull-request